* {
    padding: 0;
    margin: 0;
}

body {
    background: #1b2a2f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-flex-wrap {
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.client-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1000px; 
}

.client-list li {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    text-align: center;
    height: 180px;
    list-style: none;
}

.client-list li h3 {
    font-size: 22px;
    color: #f0d155;
    text-decoration: none;
}

.client-list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

.client-list li:nth-child(4n) a {
    border-right: none;
}

.client-list li:nth-last-child(1) a, .client-list li:nth-last-child(2) a, .client-list li:nth-last-child(3) a, .client-list li:nth-last-child(4) a {
    border-bottom: none;
}

.client-list .brand-box {
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto; 
}

.hover-opac-img {
    height: 150px;
    width: 150px;
}

.opac-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 150px;
    width: 150px;
    right: 0;
}

.client-list li:hover .opac-img {
    opacity: 1;
}

.empty-spot {
    position: relative;
    transition: .5s;
}

.empty-spot:before {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    left: 9px;
    bottom: 3px;
    border-left: 2px solid #f0d155;
    border-bottom: 2px solid #f0d155;
    content: '';
    transition: .5s;
}

.empty-spot:after {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 10px;
    border-right: 2px solid #f0d155;
    border-top: 2px solid #f0d155;
    content: '';
    transition: .5s;
}

.empty-spot:hover:after {
    width: 95%;
    height: 95%;
    transition: .5s;
    opacity: 1;
}

.empty-spot:hover:before {
    width: 95%;
    height: 95%;
    transition: .5s;
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .client-list li {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .client-list {
        width: 350px;
        margin-top: 85px;
    }
}

@media only screen and (max-width: 549px) {
    .client-list li {
        height: 90px;
    }
    .client-list .brand-box {
        width: 90px;
        height: 90px;
    }
    .hover-opac-img {
        width: 90px;
        height: 90px;
    }
    .empty-spot::before {
        left: 7px;
        bottom: -8;
    }
    .client-list li h3 {
        font-size: 15px;
        padding-top: 25px;
    }
}